body {
	position: relative;
	height: 100vh;
}

.card {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 50vw;
}

.list-group:last-child {
	border-bottom: none;
}

@media (max-width: 800px) {
	.card {
		width: 60vw;
	}
}

@media (max-width: 400px) {
	.card {
		width: 90vw;
	}
}
