<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SH Game #<%= gameid %></title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/game.css">
</head>
<body>
    
    <!-- Ready Container -->
    <div class="popupContainer" id="readyContainer" style="z-index: 10;">
        <div class="readyCard card mb-3 border-primary boxShadow">
            <h3 class="card-header bg-primary">Waiting for players</h3>
            <ul class="list-group list-group-flush" id="readyList">
            </ul>
            <div class="card-body">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="readyCheckbox">
                    <label class="custom-control-label" for="readyCheckbox">Ready?</label>
                  </div>
            </div>
        </div>
    </div>
    
    <!-- Vote Container -->
    <div class="popupContainer" id="voteContainer">
        <div class="popupTitle" id="voteTitle"></div>
        <div class="popupImageContainer">
            <img class="boxShadow" id="yesImage" src="img/yes.png" alt="YES-IMG">
            <img class="boxShadow" id="noImage" src="img/no.png" alt="NO-IMG">
        </div>
        <div class="voteResultsContainer" hidden></div>
    </div>

    <!-- Veto Container -->
    <div class="popupContainer" id="vetoContainer" style="z-index: 8;">
        <div class="popupTitle">Veto ?</div>
        <div class="popupImageContainer">
            <img class="boxShadow" id="vetoYesImage" src="img/yes.png" alt="YES-IMG">
            <img class="boxShadow" id="vetoNoImage" src="img/no.png" alt="NO-IMG">
        </div>
    </div>

    <!-- Selection Container -->
    <div class="popupContainer" id="selectionContainer">
        <div class="popupTitle" id="selectionTitle"></div>
        <div class="popupCardContainer" id="selectionCardContainer"></div>
    </div>

    <!-- Laws Container -->
    <div class="popupContainer" id="lawsContainer">
        <div class="popupTitle" id="lawsTitle"></div>
        <div class="popupImageContainer" id="lawsImageContainer"></div>
        <br>
        <div class="buttonContainer">
            <button type="button" class="btn btn-primary disabled" id="lawsConfirm">Confirm Selection</button>
            <button type="button" class="btn btn-danger" id="vetoButton" hidden>Veto</button>
        </div>
    </div>

    <!-- Reveal Container -->
    <div class="popupContainer" id="revealContainer">
        <div class="popupImageContainer" id="revealImageContainer"></div>
        <br>
        <button type="button" class="btn btn-primary" id="revealButton">OK</button>
    </div>

    <!-- Win Container -->
    <div class="popupContainer" id="winContainer">
        <div class="readyCard card mb-3 border-primary boxShadow">
            <h3 class="card-header bg-primary" id="winTitle"></h3>
            <ul class="list-group list-group-flush" id="winList">
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-primary" onclick="window.location = '/';">Main Menu</button>
            </div>
        </div>
    </div>


    <!-- MAIN -->
    <div class="playersContainer" id="playersContainer" style="z-index: 2;"></div>
    <br>
    <div class="stateLabel">Waiting for players</div>
    <div class="tableContainer" style="z-index: -2;">
        <div class="tableRow">
            <div class="lawsContainer">
                <div class="overlayContainerFasho">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-1" alt="">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-2" alt="">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-3"  alt="">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-4" alt="">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-5" alt="">
                    <img class="law" src="img/law-fasho.png" id="tableLawFasho-6" alt="">
                </div>
                <img class="lawsImage" id="fashoLawsBg" src="img/laws-fasho-8.png" alt="">
            </div>
            <div class="pileContainer">
                <div id="drawPile">12</div>
                <img class="pile" src="img/draw-pile.png" alt="">
            </div>
        </div>
        <div class="tableRow">
            <div class="lawsContainer">
                <div class="overlayContainerLiberal">
                    <img class="law" src="img/law-liberal.png" id="tableLawLiberal-1" alt="">
                    <img class="law" src="img/law-liberal.png" id="tableLawLiberal-2" alt="">
                    <img class="law" src="img/law-liberal.png" id="tableLawLiberal-3" alt="">
                    <img class="law" src="img/law-liberal.png" id="tableLawLiberal-4" alt="">
                    <img class="law" src="img/law-liberal.png" id="tableLawLiberal-5" alt="">


                    <img class="noGovCoin" id="noGov0" src="img/coin.png" alt="">
                    <img class="noGovCoin" id="noGov1" src="img/coin.png" alt="">
                    <img class="noGovCoin" id="noGov2" src="img/coin.png" alt="">
                    <img class="noGovCoin" id="noGov3" src="img/coin.png" alt="">
                </div>
                
                <img class="lawsImage" src="img/laws-liberal.png" alt="">
            </div>
            <div class="pileContainer">
                <div id="discardPile">12</div>
                <img class="pile" src="img/discard-pile.png" alt="">
            </div>
        </div>
    </div>


    <div class="ui-container">
        <img class="rolePicture boxShadow" src="img/tba.png" alt="">
        <img class="factionPicture boxShadow" src="img/tba.png" alt="">
    </div>


    <script src="js/app/GameContext.js"></script>
    <script src="js/app/ReadyContext.js"></script>
    <script src="js/app/SelectionContext.js"></script>
    <script src="js/app/VoteContext.js"></script>
    <script src="js/app/LawsContext.js"></script>
    <script src="js/app/VetoContext.js"></script>
    <script src="js/app/InspectContext.js"></script>
    <script src="js/app/WinContext.js"></script>

    <script src="js/storage.js"></script>
    <script src="js/app.js"></script>
    <script>
        main("<%= gameid %>");
    </script>
</body>
</html>