<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Hitler</title>

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div class="card mb-3 border-primary">
        <h3 class="card-header bg-primary">Secret Hitler</h3>
        <ul class="list-group list-group-flush">
            <% for(const game of games) { %>
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" onclick="window.location = '/<%= game.id %>'">
                    Game #<%= game.id %>
                    <% if (game.isOn) {%>
                        <% if (game.data.isOpen) { %>
                        <span class="badge badge-primary badge-pill"><%= game.data.players %> Players</span>
                        <% } else {%>
                            <span class="badge badge-info badge-pill">Game running</span>
                        <% } %>
                    <% } else {%>
                        <span class="badge badge-primary badge-light">Not yet loaded</span>
                    <% } %>
                    
                </li>
            <% } %>
        </ul>
        <div class="text-muted bg-primary" style="padding: 5px 20px;">
            Logged in as <%= username %>
          </div>
      </div>

      <br>
      <br>
      <br>
      <script src="js/storage.js"></script>
    <script src="js/home.js"></script>
</body>
</html>